
/* PC */
@media (min-width: 740px) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
      
}


/* Tablet & Mobile */
@media (max-width: 1023px){
    .s-full-width{
        width: 100%;
    }
    #nav .subnav a{
        
        padding:5px 12px;
    }

    .btn{
        padding: 15px 16px;
    }
    .contact-info{
        line-height: 2;
    }
    .contact-form .form-control{
        padding: 15px;
        font-size: 16px;
    }
    .form-submit-btn{
        font-size: 18px;
    }
    .socials-list{
        font-size: 48px;
    }
    #footer .socials-list a{
        margin: 0 8px;
    }
}

/* Mobile */
@media (max-width: 740px){
    .s-full-width,
    .s-col-full{
        width: 100%;
    }    

    .pull-right{
        float: right;
    }

    .s-mt-8{
        margin-top: 8px;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }
    
    #header{
        overflow: hidden;
    }
    
    #nav{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav .subnav{
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding:5px 41px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #content .member-items{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img{
        width: 60%;
    }
    
    .contact-form{
        margin-top: 32px;
    }
}
